streamlit==1.32.0
langchain==0.1.12
langchain-community==0.0.28
langchain-huggingface==0.0.1
langchain-pinecone==0.0.3
langchain-google-genai==0.0.11
pinecone-client==3.2.2
pypdf==4.1.0
python-dotenv==1.0.1